@model IEnumerable<Maintenance.Models.Profession>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 style="color:dodgerblue">Professions</h2>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead class="table-Primary">
        <tr >
            
            <th width="10%">
                
                @Html.DisplayNameFor(model => model.Profession_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession_ArName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession_EngName)
            </th>
              <th width="5%">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profession_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession_ArName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession_EngName)
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Profession_ID  },htmlAttributes:new{@class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
