@model IEnumerable<Maintenance.Models.Item_SubGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 style="color:dodgerblue">Item Types</h2>
</div>


<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead class="table-Primary">

        <tr>
           <th width="10%">
                @Html.DisplayNameFor(model => model.ItemSubGroup_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemGroupIDFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemSubGroup_Name)
            </th>
            <th width="5%">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemSubGroup_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_Groups.ItemGroup_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemSubGroup_Name)
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ItemSubGroup_ID  },htmlAttributes:new{@class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
