@model IEnumerable<Maintenance.Models.Brand_SubGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead class="info">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarndSubgroup_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarndGroup_IDFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarndSubgroup_Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarndSubgroup_ID)
            </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Brand_Groups.BarndGroup_Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarndSubgroup_Name)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
