@model Maintenance.Models.Machine

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h2 style="color:dodgerblue">Machine</h2>
</div>
<h4 style="color:brown">Create</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Machine_Code" class="control-label"></label>
                <input asp-for="Machine_Code" class="form-control" />
                <span asp-validation-for="Machine_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupIDFK" class="control-label"></label>
                <select asp-for="GroupIDFK" class="form-control" asp-items="@(new SelectList( Model.Machine_Groups, "MachineGroup_ID", "MachineGroup_Name"))"></select>
                <span asp-validation-for="GroupIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubGroupIDFK" class="control-label"></label>
                <select asp-for="SubGroupIDFK" class="form-control" asp-items="@(new SelectList(Model.Machine_SubGroups, "MachineSubgroup_ID", "MachineSubgroup_Name"))"></select>
                <span asp-validation-for="SubGroupIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandIDFK" class="control-label"></label>
                <select asp-for="BrandIDFK" class="form-control" asp-items="@(new SelectList( Model.Brands, "Brand_ID", "Brand_Name"))"></select>
                <span asp-validation-for="BrandIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelIDFK" class="control-label"></label>
                <select asp-for="ModelIDFK" class="form-control" asp-items="@(new SelectList( Model.Models, "Model_ID", "Model_Name"))"></select>
                <span asp-validation-for="ModelIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerIDFK" class="control-label"></label>
                <select asp-for="OwnerIDFK" class="form-control" asp-items="@(new SelectList(Model.Owners, "Owner_ID", "Owner_Name"))"></select>
                <span asp-validation-for="OwnerIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfWorkIDFK" class="control-label"></label>
                <select asp-for="PlaceOfWorkIDFK" class="form-control" asp-items="@(new SelectList(Model.PlaceOfWorks, "PlaceOfWork_ID", "PlaceOfWork_Name"))"></select>
                <span asp-validation-for="PlaceOfWorkIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine_PlateNo" class="control-label"></label>
                <input asp-for="Machine_PlateNo" class="form-control" />
                <span asp-validation-for="Machine_PlateNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine_SerialNo" class="control-label"></label>
                <input asp-for="Machine_SerialNo" class="form-control" />
                <span asp-validation-for="Machine_SerialNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine_Note" class="control-label"></label>
                <input asp-for="Machine_Note" class="form-control" />
                <span asp-validation-for="Machine_Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine_ImageURL" class="control-label"></label>
                <input type="file" name="File" asp-for="File" class="form-control" />
                <span asp-validation-for="Machine_ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
