@model IEnumerable<Maintenance.Models.OrdersStatus>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h2 style="color:dodgerblue">Order status</h2>
</div>



<p>
    <a asp-action="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead class="table-Primary">
        <tr >
            <th width="10%">
                @Html.DisplayNameFor(model => model.OrdersStatus_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdersStatus_Name)
            </th>
             <th width="5%">
                   Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdersStatus_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdersStatus_Name)
            </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.OrdersStatus_ID  },htmlAttributes:new{@class="btn btn-danger"})
                </td>
        </tr>
}
    </tbody>
</table>
